@model SliderCreateVM
@{
    ViewData["Title"] = "Create";
}

<div class="container my-5">
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <input asp-for="Image" class="form-control"  />
        <span asp-validation-for="Image" class="text-danger d-block" asp-></span>
        <button class="btn btn-success btn-rounded btn-fw mt-3">Submit</button>
        <a asp-action="Index" class="btn-success btn-rounded btn-fw ">Back</a>
    </form>
</div>

